{% extends 'base.html' %}
{% block content %}

<h1>Fish List</h1>

{% for fish in fishes %}
<a href="{% url 'detail' fish.id %}">
  <div class="card">
    <div class="card-content">
      <span class="card-title">{{ fish.name }}</span>
      <p>Breed: {{ fish.breed }}</p>
      <p>Description: {{ fish.description|linebreaks }}</p>
      {% if fish.age > 0 %}
        <p>Age: {{ fish.age }}</p>
      {% else %}
        <p>Age: Guppy</p>
      {% endif %}
    </div>
  </div>
</a>
{% endfor %}

{% endblock %}